<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="open-css.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="menubar">
        <!--why is this tag not apart of web standards anymore???-->
        <center>
            <p>Dashboard</p>
        </center>
      </div>
    <title>Dashboard</title>
</head>
<body>
    <center>
    <div class="container">
        <p>You are logged in as {{ username }}</p>
      </div>
    <div class="content">
        <a href="./host.html">
            <button>Get Started!</button>
          </a>          
    </div>
    </center>
</body>
</html>
