<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="open-css.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="menubar">
        <!--why is this tag not apart of web standards anymore???-->
        <center>
            <p>Hosting</p>
        </center>
      </div>
    <title>BisthiumHost - Hosting</title>
</head>
<body>
    <center>
    <div class="container">
        <p>Please fill this out before hosting the website</p>
      </div>
    <div class="content">
        <form method="POST" action="/host">
            <p>Website Name:</p>
            <br>
            <textarea id="WebName" name="WebName" rows="4" cols="50"></textarea>
            <p>Website Code:</p>
            <br>
            <textarea id="WebCode" name="WebCode" rows="4" cols="50"></textarea>
            <br>
            <button type="submit">Host!</button>
            <br>
            <p>We log IP addresses for safety, we will never use this to track you, it is just so people don't upload inapropiate websites.</p>
        </form>
    </div>
    </center>
</body>
</html>